html, body { 
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
}

.container {
  margin: auto;
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
}

button {
  align-self: center;
  margin-bottom: 50px;
}